.first-head {

  height: 800px;
}

.second-head {
  background: pink;
  height: 500px;
}

.left-triangle {
  background: blue;
}

.triangle {
  background: blue;
  height: 800px;
  width: 60%;
}

.clip-wrap {
  text-align: center;
}

div.triangle {
  -webkit-clip-path: polygon(0 100%, 0 20%, 100% 100%);
  clip-path: polygon(0 100%, 0 20%, 100% 100%);
  -webkit-clip-path: url("#clip-shape"); /* required for Webkit/Blink browsers if you're using only inline SVG clipping paths, but not CSS clip-path */
  clip-path: url("#clip-shape");
}
